body {
    background: #b6dcdf;
  }
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 20px;
  }
  
/*Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: #eff0f2;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    background-color: rgb(103, 121, 121);
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: 200;
}
.navbar-header{
    width:500px;
    margin-left:50px !important;
}
.navbar-header .navbar-toggle .collapsed {
    float: right;
  }
  
/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
    padding: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: left;
  }

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
    height: 20px;
    padding-top: 20px;
    background: #cdcdcd;
  }

#landing-viz {
    padding:2px 2px 2px 2px;
    width: 100%;
    height: 100%;
  }
.content{
    margin-top:10px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
	font-size: 28px;
  font-weight: 300;
  text-align: center
}

h2 {
  font-family: "Times New Roman", Times, serif;
	font-size: 24px;
  font-weight: 300;
  text-align: center
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  text-align: center;
}

.box {
  color: #fff;
  background: #566a744b;
}

.box-left {
  padding: 10px;
}

.box-right {
  padding: 10px;
}

.box-single {
  padding: 50px;
  margin: 70px;
}

#summary {
  margin: 10px;
  font-size: 17px;
  line-height: 1.8em;
}


#city-sample {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px 20px;
}

.figure:active{
  border: 5px solid #b6afaa;
}

.jumbotron {
  color: #fff;
  background: #8da4a9;
  width: 100%;
  height: 100%;
  padding: 25px
}

.table {
  color: rgb(9, 0, 0);
  background: #c4d6e9;
  width: 100%;
  height: 100%;
  padding: 15px

}

#viz-main {
  padding: 15px 15px 15px 15px;
  width: 100%;
 }

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
    }
}
